{% extends "main_app/base/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'main_app/css/bookmark_list.css' %}">
{% endblock extra_css %}

{% block content %}
  <div class="mainWrapper">
    <h1>ブックマーク一覧</h1>
    <a href="{% url 'bookmark_create' %}">ブックマーク作成</a>
    <section class="bookmark-section">
      {% if context.bookmarks %}
        <div class="bookmarkList">
          {% for bookmark in context.bookmarks %}
            <div class="bookmark-wrapper">
              <article class="bookmark-card-content" data-url="{{ bookmark.url }}">
                <div class="bookmark-main-content">
                  <h2 class="bookmarkTitle">{{ bookmark.title }}</h2>
                  <p class="bookmarkDescription">{{ bookmark.description }}</p>
                </div>
                <div class="bookmark-sub-content">
                  <button class="editButton" data-url="{% url 'bookmark_edit' bookmark.pk %}" data-id="{{ bookmark.pk }}">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button class="deleteButton" data-url="{% url 'bookmark_delete' bookmark.pk %}" data-id="{{ bookmark.pk }}">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </article>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>ブックマークはまだありません。</p>
      {% endif %}
    </section>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'main_app/js/pages/bookmark_list.js' %}"></script>
{% endblock extra_js %}
